<h2>Contact me</h2>

<form method="post">
    <p>Your name:<br />
    <input type="text" name="name" /></p>
    
	<p>Your e-mail:<br />
	<input type="text" name="sender" /></p>
	
	<p class="required">Subject:<br />
	<input type="text" name="subject" /></p>
	
	<p>Message:<br />
	<textarea name="message"></textarea></p>
	
	<input type="submit" value="Send message" />
</form>